*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    
}
.container
{
    position: relative;
}
.container .slide-container .slide
{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;
}
.container .slide-container .slide .content
{
    flex: 1 1 350px;
}
.container .slide-container .slide .image
{
    flex: 1 1 500px;
}
.container .slide-container .slide .image img
{
    width: 100%;
}
.container .slide-container .slide .content h3
{
    font-size: 35px;
    color: #333;
}
.container .slide-container .slide .content p
{
    font-size: 20px;
    line-height: 1.5;
    color: #333;
    padding: 10px 0;
}
.container .slide-container .slide .content .btn
{
    margin-top: 10px;
    display: inline-block;
    background: #666;
    color: #fff;
    font-size: 17px;
    padding: 9px 40px;
    border-radius: 10px;
}
.container .slide-container .slide .content .btn:hover
{
    background: #333;
}
.container .slide-container
{
    display: none;
}
.container .slide-container.active
{
    display: block;
}
.container .slide-container:nth-child(1) .slide
{
    background: #fff;
}



@media screen and (max-width:992px) {
    .container .slide-container:nth-child(odd) .slide
    {
        background: #fff;
    }
    .container .slide-container:nth-child(even) .slide
    {
        background: #fff;
    }
}




/* FOOTER */
footer{
    background: #141414;
      height: auto;
      width: auto;
      padding-top: 40px;
      color: white;
  }
  
  .footer1 h2{
    font-size: 1.8rem;
    font-weight: 10px auto;
    text-transform: capitalize;
    line-height: 3rem;
  }
  
  .footer1 p{
    font-family: 'Ubuntu', sans-serif;
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
  }
  
  .footer-bottom{
    background: #62babb;
    width: auto;
    padding: 5px 0;
    text-align: center;
  }
  
  .footer-bottom p{
    font-size: 13px;
    word-spacing: 2px;
    text-transform: capitalize;
  }
  
  .social{
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 30px;
  }
  
  .social li{
      margin: 0 20px;
      
  }
  
  .social a{
      text-decoration: none;
      color: white;
  }
  
  .social a svg{
      transition: color 0.4s ease;
  }
  
  .social a:hover svg{
      color: #62babb;
  }
  
  .log{
      position: relative;
      width: 84px;
      height: auto;
      left: 47.8%;
  }