.loader{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    background-color: #47b2e4;
    overflow: hidden;
    pointer-events: none;
    opacity: 1;
    transition: all 0.5s ease-out;
    
  }
  .loader.active{
    opacity: 0;
  }
  .loader .gear-box{
    width: 216px;
    height: 216px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -108px 0 0 -108px;
  
  }
  .loader .gear1{
  width: 150px;
  position: absolute;
  left: 0;
  top: 0; 
  animation: 5s gear1Animation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  }
  .loader .gear2{
    width: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(-22deg);
    animation: 5s gear2Animation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .gear-box.box1{
    left: 0;
    top: auto;
    bottom: 0;
    margin: 0;
    transform: scale(3);
    opacity: 0.4;
  }
  .gear-box.box2{
    left: auto;
    top: 0;
    right: 0;
    margin: 0;
    transform: scale(3);
    opacity: 0.4;
  }
  @keyframes gear1Animation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
  
    }
  }
  @keyframes gear2Animation{
    from{
        transform: rotate(-22deg);
    }
    to{
        transform: rotate(-382deg);
  
    }
  }